
/* STILE DELLA LISTA DOCUMENTO */

.tabella{
 	padding-top:5%;
 	padding-bottom:5%;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
td {
	padding-bottom: 0px;
}

td input{
	padding-bottom: 0px;
	text-align:center;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
	text-align: center;
	background-color: #E9AC38;
	color: white;
}
.numero{
	cursor:pointer;
	width: 42px;
}
.anno{
	width: 50px;
}
.mese{
	width: 82px;
}
.data{
	width: 80px;
}

.cig{
	width: 100px;
}
.cliente{
	width: 170px;
	text-align: left;
}
.mezzo{
	width: 160px;
	text-align: left;
}
.totale{
	width: 54px;
	text-align: right;
}
.stato{
	width: 40px;
}

.pdf{
	width: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
select{
	float:right;
}
#cig{
	float:right;
	width: 51%;
}
#data_documento{
	float:right;
	width: 205px;
}
#numeroDocumento{
/*     margin-left: 295px;
    width: 128px; */
    width: 206px;
    float: right;
}

/* Da lasciare qua*/

button[class^="btn"] {
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	font-weight: 500;
	font-family: 'Open sans', sans-serif;
	transition:0.14s;
}
.btn {
	padding:7px 13px;
	background: white;
	border-width: 2px;
	border-style: solid;
}

.btn-default {
	border-color: #E9AC38;
	color: #E9AC38;
}

.btn:hover {

	color:white;
}
.btn-default:hover {
	background: #E9AC38;
}
.btn-vlarge {
	padding: 9px 24px;
	font-size: 20px;
	float: right;
	margin-left: 22px;
}


h3 {
    font-size: 24.5px;
    color: #E9AC38;
}

label{
	color: #E9AC38;
}
/*Davide */
#wait {
	font-size: 44px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 500000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#loading {
	position: absolute;
	width: 190px;
	height: 70px;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -110px;
	background-color: #FFF;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: 90% center;
	font-size: 16px;
	color: #333;
	line-height: 65px;
	border-radius: 10px;
	padding: 10px 30px;
	box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.5);
}