croceitalia/.classpath
croceitalia/.project
croceitalia/.settings/


*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/


croceitalia/.externalToolBuilders/Maven_Ant_Builder.launch
croceitalia/maven-eclipse.xml
croceitalia/target/
stampa-pdf/.classpath
stampa-pdf/.gitignore
stampa-pdf/.project
stampa-pdf/.settings/org.eclipse.jdt.core.prefs
stampa-pdf/.settings/org.eclipse.m2e.core.prefs
croceitalia/src/main/resources/config/app.properties
.metadata/
.recommenders/
Servers/
/
*.rar
*.project
