<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "file://./log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="jpa" class="org.apache.log4j.DailyRollingFileAppender">
			<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/jpa.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="spring" class="org.apache.log4j.DailyRollingFileAppender">
			<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/spring.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="editInfo" class="org.apache.log4j.DailyRollingFileAppender">
			<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/editInfo.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="info" class="org.apache.log4j.DailyRollingFileAppender">
			<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/info.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	

	<appender name="logInfo" class="org.apache.log4j.DailyRollingFileAppender">
			<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/debug.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="logWarn" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/warn.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="logError" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/error.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	<appender name="logSecurity" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="yyyy-MM-dd'.'"/>
		<param name="File" value="/logs/croceitalia/security.log"/>
		<param name="Append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} - %X{APPLICATION} %X{SESSIONID} - [%M] %c %m%n"/>
		</layout>
	</appender>
	
	
	
	
	<category name="org.cms.framework.CmsEditDispatcherServlet">
		<priority value="debug"/>
		<appender-ref ref="editInfo"/>
	</category>
	
	<category name="org.cms.framework.CmsDispatcherServlet">
		<priority value="debug"/>
		<appender-ref ref="info"/>
	</category>
	
	<category name="eu.xml.XMLValidator">
		<priority value="debug"/>
		<appender-ref ref="logInfo"/>
	</category>
	
	
	
	<category name="org.springframework">
		<priority value="debug"/>
		<appender-ref ref="spring"/>
	</category>
	
	<!-- 
	org.apache.bval.jsr303.resolver.DefaultTraversableResolver
	org.apache.bval.jsr303.DefaultMessageInterpolator

	<category name="org.apache.bval">
		<priority value="debug"/>
		<appender-ref ref="jpa"/>
	</category>
	<category name="org.apache.openjpa.persistence.PersistenceProviderImpl">
		<priority value="WARN"/>
		<appender-ref ref="jpa"/>
	</category>
	<category name="org.apache.openjpa.persistence.PersistenceProviderImpl">
		<priority value="INFO"/>
		<appender-ref ref="jpa"/>
	</category>
		 -->
	
	<category name="LevelInfo">
		<priority value="debug"/>
		<appender-ref ref="logInfo"/>
	</category>
	
	<category name="LevelWarn">
		<appender-ref ref="logWarn"/>
	</category>
	
	<category name="LevelError">
		<priority value="error"/>
		<appender-ref ref="logError"/>
	</category>
	
	<category name="LevelSecurity">
		<priority value="debug"/>
		<appender-ref ref="logSecurity"/>
	</category>
	
</log4j:configuration>
